export ADDR=":8080"
export EXTERNAL_URL="localhost:8000"
export JWT_SIGNING_KEY="zxUKu/5V/FYnu2wS88J96Ud64qBOeyRMgAgfJz8IKwQ="
export JWT_ECDSA_PRIVATE_KEY_PATH=".keys/ecdsa_private.pem"
export JWT_ECDSA_PUBLIC_KEY_PATH=".keys/ecdsa_public.pem"
export AUTH_BASIC_USER="admin"
export AUTH_BASIC_PASSWORD="adminpassword"

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=host=localhost port=5432 user=admin password=adminpassword dbname=shotseek sslmode=disable
export GOOSE_MIGRATION_DIR=cmd/migrate/migrations
export MIGRATIONS_DIR="cmd/migrate/migrations"