export ADDR=":8000"


export GOOSE_DRIVER="postgres"
export GOOSE_DBSTRING="host=localhost port=5432 user=admin password=adminpassword dbname=shotseek sslmode=disable"
export GOOSE_MIGRATION_DIR="cmd/migrate/migrations"